<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
          <div>
              <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quae atque tempore nemo aliquid autem facilis quaerat, laudantium quisquam distinctio at. Et cumque perspiciatis ipsa expedita repudiandae ducimus iure sed.</p>
          </div>
      </div>
  </div>
  <div class="col-xl-8 col-lg-8 content-right">
    <form id="editForm" method="post" action="<%= sails.getUrlFor('UsuarioController.alterarSenha') %>">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />

      <label for="matricula">Editar email: </label>
      <input type="hidden" name="id" value="<%= user.id %>">
      <input required value="<%= user.email %>" type="password" name="senha" id="senha" class="form-control required">
      <button type="submit" class="submit mt-2">Enviar</button>
    </form>

      
  </div>
</div>