<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Projeto de gerenciamento de TCC para o IFRS Campus Restinga">
    <title>Projeto TCC</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/etapa.css">
    <link rel="stylesheet" href="/styles/icon_fonts/css/all_icons.css">
    <link rel="stylesheet" href="/styles/icon_fonts/css/all_icons.min.css">
    <link rel="stylesheet" href="/styles/icon_fonts/css/fontello-codes.css">
    <link rel="stylesheet" href="/styles/icon_fonts/css/icon_set_1.css">
    <link rel="stylesheet" href="/styles/icon_fonts/css/icon_set_2.css">
    <link rel="stylesheet" href="/styles/icon_fonts/css/icon_set_3.css">
    <link rel="stylesheet" href="/styles/icon_fonts/css/icon_set_4.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/vendors.css">
    <link rel="stylesheet" href="/styles/vendors.unminified.css">
    <!--STYLES END-->
    <script src="/js/modernizr.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<% if(req.session.erro){ %>
    <script>
      Swal.fire({
        icon: 'error',
        confirmButtonColor: '#20c997',
        title: 'Ops...',
        text: '<%= req.session.erro ;%>'
      });
    </script>
<%
    delete req.session.erro;
} %>

<% if(req.session.aviso){ %>
    <script>
      Swal.fire({
        icon: 'warning',
        confirmButtonColor: '#20c997',
        title: 'Atenção!',
        text: '<%= req.session.aviso ;%>'
      });
    </script>
<%
    delete req.session.aviso;
} %>

<% if(req.session.sucesso){ %>
    <script>
      Swal.fire({
        icon: 'success',
        confirmButtonColor: '#20c997',
        title: 'Oba!',
        text: '<%= req.session.sucesso ;%>'
      });
    </script>
<%
    delete req.session.sucesso;
} %>

<div id="preloader">
    <div data-loader="circle-side"></div>
</div>

<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div>

<nav>
    <ul class="cd-primary-nav">
        <% if(req.session.usuarioTipo === 'Aluno'){ %>
            <li><a href="/aluno" class="animated_link">Início</a></li>
        <% } %>
        <% if(req.session.usuarioTipo === 'Professor'){ %>
            <li><a href="/professor" class="animated_link">Início</a></li>
        <% } %>
        <% if(req.session.logado){ %>
            <li><a href="<%= sails.getUrlFor('UsuarioController.ajuda'); %>" class="animated_link">Ajuda</a></li>
            <li><a href="<%= sails.getUrlFor('UsuarioController.logout'); %>" class="animated_link">Sair</a></li>
        <% }else{ %>
            <li><a href="/login" class="animated_link">Login</a></li>
        <% } %>
    </ul>
</nav>

<div class="container-fluid">

    <%- body; %>

</div>

<div class="cd-overlay-nav">
    <span></span>
</div>

<div class="cd-overlay-content">
    <span></span>
</div>

<a class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/common_scripts.min.js"></script>
<script src="/js/velocity.min.js"></script>
<script src="/js/common_functions.js"></script>
<script src="/js/file-validator.js"></script>
<script src="/js/func_1.js"></script>

</body>
