<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
          <div>
              <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quae atque tempore nemo aliquid autem facilis quaerat, laudantium quisquam distinctio at. Et cumque perspiciatis ipsa expedita repudiandae ducimus iure sed.</p>
          </div>
      </div>
  </div>
  <div class="col-xl-8 col-lg-8 content-right">

    <% if(Object.keys(usuario).length > 0)
    {
    %>
      <div class="row col-sm-10">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Tipo</th>
              <th>Matricula</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Senha</th>
            </tr>
          </thead>
          <tbody>
            <% for(i=0;i < Object.keys(usuario).length; i++){ %>
            <tr>
              <th scope="row"> <%= usuario[i].id;    %> </th>
              <td>
                <button class="btn-custom" style="cursor:default"><%= usuario[i].tipo; %></button>
              </td>
              <td>
                <form method="POST" action="<%= sails.getUrlFor('UsuarioController.alterarUsuario') %>">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>">
                  <input type="hidden" name="id" value="<%= usuario[i].id; %>">
                  <input type="hidden" name="action" value="matricula">
                  <button class="btn-custom" type="submit"><%= usuario[i].matricula; %></button>
                </form>
              <td>
                <form method="POST" action="<%= sails.getUrlFor('UsuarioController.alterarUsuario') %>">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>">
                  <input type="hidden" name="id" value="<%= usuario[i].id; %>">
                  <input type="hidden" name="action" value="nome">
                  <button class="btn-custom" type="submit"><%= usuario[i].nome; %></button>
                </form>
              </td>
              <td>
                <form method="POST" action="<%= sails.getUrlFor('UsuarioController.alterarUsuario') %>">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>">
                  <input type="hidden" name="id" value="<%= usuario[i].id; %>">
                  <input type="hidden" name="action" value="email">
                  <button class="btn-custom" type="submit"><%= usuario[i].email; %></button>
                </form>
              </td>
              <td>
                <form method="POST" action="<%= sails.getUrlFor('UsuarioController.alterarUsuario') %>">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>">
                  <input type="hidden" name="id" value="<%= usuario[i].id; %>">
                  <input type="hidden" name="action" value="senha">
                  <button class="btn-custom" type="submit"><%= usuario[i].senha; %></button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
      
  </div>
</div>