<div class="row row-height">
    <div class="col-xl-4 col-lg-4 content-left">
        <div class="content-left-wrapper">
            <div>
                <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quae atque tempore nemo aliquid
                    autem facilis quaerat, laudantium quisquam distinctio at. Et cumque perspiciatis ipsa expedita
                    repudiandae ducimus iure sed.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 content-right">
        <div id="row">
            <form method="POST" action="/adm/paineltccs">
                <input type="hidden" name="_csrf" value="<%= _csrf; %>"/>
                <label class="cl-switch custom-class">
                    <input  type="checkbox" name="nome">
                    <span class="switcher"></span>
                    <span class="label">Nome Aluno</span>
                </label>
                <label class="cl-switch custom-class">
                    <input  type="checkbox" name="orientador">
                    <span class="switcher"></span>
                    <span class="label">Orientador</span>
                </label>
                <label class="cl-switch custom-class">
                   <select name="Aguardando Orientador" id="" class="form-select">
                    <option selected disabled>Status do TCC</option>
                        <option value="1">Aguardando aprovação do orientador</option>
                        <option value="2">Teste</option>
                        <option value="3">teste 2</option>
                   </select>
                </label>
                <input type="text" placeholder="filtrar" class="form form-control mb-2" name="filtro" required onchange="<%= sails.getUrlFor('UsuarioController.editarView') %>">
                <input id="filtro"  type="submit"  placeholder="Buscar" class="btn btn-success">
            </form>
          
                    
 
            <% if(tccs.length > 0)
            {
            %>
                <div class="row">
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th>Orientador</th>
                            <th>Titulo do TCC</th>
                            <th>Aluno</th>
                            <th>Status do TCC</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let i = 0; i < Object.keys(tccs).length; i++){ %>
                            <th scope="row"> <%= tccs[i].aluno.orientador[0].usuario.nome; %> </th>
                            <th scope="row"> <%= tccs[i].nome; %> </th>
                            <th scope="row"> <%= tccs[i].aluno.usuario[0].nome %> </th>
                            <th scope="row"> <%= tccs[i].aluno.status %> </th>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            <% } else {%>
                <h2>Não existe TCCs cadastrados</h2>
            <% } %>
        </div>
    </div>
</div>
