<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
          <div>
              <h2>Projeto de Gerenciamento de TCC</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
          </div>
      </div>
  </div>
  <div class="col-xl-8 col-lg-8  content-right">
        <div class="container">
            <div class="row">
              <h1>Minhas sugestões</h1>
            </div>
            <div class="row">     
          <div class="row col-xl-8 col-lg-8">
            <% if(sugestoes.length > 0)
            {
            %>
              <div class="row col-sm-10 ">
                <table class="table table-stripped">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrição</th>
                      <th>Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(i=0;i < Object.keys(sugestoes).length; i++){ %>
                      <% let data = dayjs(sugestoes[i].data_envio); %>
                    <tr>
                      <th scope="row"> <%= sugestoes[i].nome;%></th>
                      <th><%= sugestoes[i].descricao %></th>
                      <th><%= data.format('DD/MM/YYYY') %></th>
                      <th><a href="/editarSugestoes/<%=sugestoes[i].id%>">Editar</a></th>
                      <th><a href="/excluirSugestoes/<%=sugestoes[i].id%>">Excluir</a></th>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
                <div class="container">
                  <h2>Não existe sugestões cadastradas</h2>

                </div>
                <% } %>
            
            <div class="row p-5">
                <button class="col-xl-5 col-lg-5 submit"  onclick="window.location.replace('<%= sails.getUrlFor('SugestaoController.criar') %>')"
                  class="submit">Cadastrar
                </button>
              </div>
          </div>
            </div>
        </div>
    </div>
</div>
