<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
    <div class="content-left-wrapper">
      <div>
        <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
        <p>Esta é a página que lista todos os seus orientados e suas dependências.</p>
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-lg-8 content-right row">

    <%
    if(alunos.length > 0){
    %>
    <div class="row col-sm-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Etapa</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% for(i = 0; i < alunos.length; i++ ) { %>
          <tr>
            <th scope="row"><%= alunos[i].id %></th>
            <td><%= alunos[i].nome %></td>
            <td><%= alunos[i].etapaText %></td>
            <% if(alunos[i].status === '' || alunos[i].status === null){ %>
            <td>Aguardando envio</td>
            <% }else{ %>
            <td><a href="/professor/alunos/<%= alunos[i].id %>"><%= alunos[i].status %></a></td>  
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } %>

    <div class="row col-12 col-sm-4 col-md-3 btn-group-vertical">
        <br>
        <button onclick="window.location.replace('/professor')" class="btn submit">Voltar</button>
    </div>
  </div>
</div>
